@font-face {
  font-family: Wonkscript;
  src: url(Wonkscript-Regular.ttf);
}

@font-face {
  font-family: Kaitlyneat;
  src: url(Kaitlyneat-Regular.ttf);
}

#content {
  max-width: 1600px;
  margin: 0 auto;
}
nav a {
  text-align: center;
  text-decoration: none;
  color: #18a4f7;
  padding: 35px;
}
#hero-msg h1,
#hero-msg h4 {
  text-align: center;
  color: #18a4f7;
}

.button-box {
  text-align: center;
}
main section {
  text-align: center;
}

#background {
  height: 725px;
}
body {
  background-color: #052740;
  font-family: Kaitlyneat;
  font-size: 22px;
  margin: 0;
  padding: 0;
}
header {
  background-color: #052740;
}
nav a:hover {
  background-color: #18a4f7;
  color: #f4f7f8;
}
.book,
.join {
  background-color: #052740;
  color: #18a4f7;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}
.book:hover,
.join:hover {
  background-color: #18a4f7;
  color: #f4f7f8;
}
#background {
  background-color: #f4f7f8;
}
.msg {
  background-color: #18a4f7;
  line-height: 1.5em;
  padding: 35px;
}
footer {
  background-color: #ff7f11;
  color: #052740;
  padding: 25px 50px;
  margin-top: 200px;
}
.home-title {
  color: #18a4f7;
  font-family: Kaitlyneat;
  font-size: 2em;
  margin-top: 10px;
}
.msg h2,
.msg p {
  color: #052740;
  font-family: Wonkscript;
  font-size: 2em;
  line-height: 1.5em;
  margin: 0;
  padding-bottom: 15px;
}
footer a {
  color: #052740;
  text-decoration: none;
}
footer a:hover {
  color: #18a4f7;
}

.icon,
.logo {
  padding-top: 10px;
  width: 80px;
}
#hero-img {
  width: 100%;
}

footer p {
  font-size: 1.2em;
}
footer p:hover {
  text-decoration: underline;
}
#logo_link {
  padding-top: 5px;
}
footer .social img {
  padding-top: 15px;
}
.coding-card,
.threed-card,
.story-card {
  margin: 200px 0;
}
.card-img {
  object-fit: cover;
  width: 750px;
  height: 750px;
  border: 10px solid #f4f7f8;
}

main section img {
  box-sizing: border-box;
}
