@font-face {
  font-family: Wonkscript;
  src: url(Wonkscript-Regular.ttf);
}

@font-face {
  font-family: Kaitlyneat;
  src: url(Kaitlyneat-Regular.ttf);
}

#content {
  max-width: 1600px;
  margin: 0 auto;
}
nav a {
  text-align: center;
  text-decoration: none;
  color: #fdfbfb;
  padding: 35px;
}
#hero-msg h1,
#hero-msg h4 {
  text-align: center;
  color: #dbc2a8;
}

.button-box {
  text-align: center;
}
main section {
  text-align: center;
}

#background {
  height: 725px;
}
body {
  background-color: #fdfbfb;
  font-family: Kaitlyneat;
  font-size: 22px;
  margin: 0;
  padding: 0;
}
header {
  background-color: #596156;
}
nav a:hover {
  background-color: #596156;
  color: #dbc2a8;
}
.book,
.join {
  background-color: #fdfbfb;
  color: #596156;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}
.book:hover,
.join:hover {
  background-color: #596156;
  color: #dbc2a8;
}
#background {
  background-color: #dbc2a8;
}
.msg {
  background-color: #596156;
  line-height: 1.5em;
  padding: 35px;
}
footer {
  background-color: #596156;
  color: #fdfbfb;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home-title {
  color: #596156;
  font-family: Kaitlyneat;
  font-size: 2em;
  margin-top: 10px;
}
.msg h2,
.msg p {
  color: #fdfbfb;
  font-family: Wonkscript;
  font-size: 2em;
  line-height: 1.5em;
  margin: 0;
  padding-bottom: 15px;
}
footer a {
  color: #fdfbfb;
  text-decoration: none;
}
footer a:hover {
  color: #dbc2a8;
}

.icon,
.logo {
  padding-top: 10px;
  width: 80px;
}
#hero-img {
  width: 100%;
}

footer p {
  font-size: 1.2em;
}
footer p:hover {
  text-decoration: underline;
}
#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}
footer .social img {
  padding-top: 15px;
}
.coding-card,
.threed-card,
.story-card {
  margin: 200px 0;
}

main section img {
  box-sizing: border-box;
}
header {
  display: grid;
  grid-template-columns: 150px auto;
}
nav {
  display: flex;
  justify-content: space-around;
}
#hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: -100px;
}
#hero-box {
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
}
#hero-msg {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 100px;
}
.home-grid {
  display: grid;
  grid-template-columns: 1fr;
}
.card-img,
.story {
  width: 100%;
  height: 75%;
  box-shadow: 5px 5px 10px #596156;
}
.card-img {
  border: 10px solid #dbc2a8;
}
.coding-card {
  grid-column: 2/5;
  grid-row: 2/4;
}
.threed-card {
  grid-column: 5/8;
  grid-row: 2/4;
}
.story-card {
  grid-column: 8/11;
  grid-row: 2/4;
}
#background {
  grid-column: 1/11;
  grid-row: 4/10;
}
.story {
  grid-column: 2/8;
  grid-row: 5/9;
}
.msg {
  grid-column: 6/11;
  grid-row: 6/8;
  box-shadow: 5px 5px 10px #596156;
}
.card-img:hover {
  opacity: 0.6;
  transform: scale(1.1);
}
@media screen and (max-width: 900px) {
  #hero,
  .home-grid {
    display: block;
    height: auto;
  }
  nav,
  footer {
    flex-direction: column;
  }
  nav a {
    display: block;
    padding: 15px;
  }
  #hero {
    margin-top: 0;
  }
  #hero-msg {
    margin-top: 0;
  }
  #hero-msg h4 {
    display: none;
  }
  .home-title {
    font-size: 25px;
    color: #6f7364;
  }
  .rivers-card,
  .camping-card,
  .rapids-card {
    margin: 50px auto;
    width: 60%;
  }
  #background {
    display: none;
  }
  .mountains,
  .msg {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  footer {
    margin-top: 25px;
  }
}
#qnamargin {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}
#qnahero {
  margin-top: 1%;
  margin-bottom: 1%;
  display: grid;
  grid-template-rows: 1fr;
  background-color: #596156;
}
#qbox {
  grid-row: 1/2;
  background-color: #6f7364;
  padding: 2.5%;
  border-style: solid;
  border-width: 2px;
  border-color: #596156;
  text-align: center;
}
#abox {
  grid-row: 2/3;
  background-color: #6f7364;
  margin-left: 5%;
  padding: 2.5%;
}
#stuckimage1 {
  border-style: solid;
  border-width: 20px;
  border-color: #6f7364 #596156 #596156 #6f7364;
  background: url(/wdd130/wwr/images/rafting1.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding: 10%;
  max-width: 100%;

  background-size: cover;
}
#stuckimage2 {
  border-style: solid;
  border-width: 20px;
  border-color: #6f7364 #596156 #596156 #6f7364;
  background: url(/wdd130/wwr/images/rafting2.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding: 10%;
  max-width: 100%;

  background-size: cover;
}
#stuckimage3 {
  border-style: solid;
  border-width: 20px;
  border-color: #6f7364 #596156 #596156 #6f7364;
  background: url(/wdd130/wwr/images/rafting3.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding: 10%;
  max-width: 100%;

  background-size: cover;
}
#stuckimage4 {
  border-style: solid;
  border-width: 20px;
  border-color: #6f7364 #596156 #596156 #6f7364;
  background: url(/wdd130/wwr/images/rafting4.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding: 10%;
  max-width: 100%;

  background-size: cover;
}
#stuckimage5 {
  border-style: solid;
  border-width: 20px;
  border-color: #6f7364 #596156 #596156 #6f7364;
  background: url(/wdd130/wwr/images/rafting5.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding: 10%;
  max-width: 100%;

  background-size: cover;
}
#stuckimage6 {
  border-style: solid;
  border-width: 20px;
  border-color: #6f7364 #596156 #596156 #6f7364;
  background: url(/wdd130/wwr/images/rafting6.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding: 10%;
  max-width: 100%;

  background-size: cover;
}
form {
  /* Center the form on the page */
  margin-top: 1em;
  margin: 0 auto;
  width: 400px;
  /* Form outline */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: 0.5em;
}
#feedback {
  background-color: antiquewhite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5em;
  /* make this element invisible until we are ready for it */
  display: none;
}
.moveDown {
  margin-top: 3em;
}
