body {
  background: rgb(67, 255, 208);
  padding: 10ch;
  font-family: neat;
}

p {
  color: red;
}

div {
  background-color: aqua;
  padding: 5%;
}
@font-face {
  font-family: neat;
  src: url(Kaitlyneat-Regular.ttf);
}
